.footer {
    background-color: $color-grey-700;
    position: relative;

    &__wrapper {
        justify-content: space-between;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0%;
        width: 100%;
        height: 1.2rem;
        background-color: $color-grey-500;
    }
}