<div class="player" id="{{id}}">
    <div class="row">  
        <label>Name:</label>
        <label class="name">{{name}}</label>
    </div>
    <div class="row">  
        <label>Money:</label>
        <label class="money">{{money}}</label>
    </div>
    <div class="row">  
        <label>Bullets:</label>
        <label class="bullets">{{bullets}}</label>
    </div>
    <button class="play">Play</button>
    <button class="delete">Delete</button>
</div>