$color-black: #000000;

$color-white: #FFFFFF;

$color-primary-50: #DFF4F1;
$color-primary-300: #41BEAD;
$color-primary-400: #00AF9B;

$color-secondary-800: #FF9100;
$color-secondary-900: #FF7100;

$color-grey-50: #F8F8F8;
$color-grey-100: #F1F1F1;
$color-grey-200: #E6E6E6;
$color-grey-400: #C4C4C4;
$color-grey-500: #919191;
$color-grey-700: #565656;
$color-grey-800: #676781;

$color-blue-50: #E3F3FD;
$color-blue-400: #44A9F8;
$color-blue-900: #0000FF;

$color-red-500: #FC4C50;
$color-red-900: #FF0000;

$color-purple-700: #9A5DC6;

$color-yellow-900: #EEFF00;