.palette__secondary--50 {
    background-color: #E4F0F4;
}

.palette__secondary--100 {
    background-color: #BEDAE6;
}

.palette__secondary--200 {
    background-color: #99C3D7;
}

.palette__secondary--300 {
    background-color: #78ACC6;
}

.palette__secondary--400 {
    background-color: #629CBC;
}

.palette__secondary--500 {
    background-color: #4F8DB2;
}

.palette__secondary--600 {
    background-color: #4480A7;
}

.palette__secondary--700 {
    background-color: #397096;
}

.palette__secondary--800 {
    background-color: #306085;
}

.palette__secondary--900 {
    background-color: #234465;
}