.palette__red--50 {
    background-color: #FFEBEF;
}

.palette__red--100 {
    background-color: #FFCDD3;
}

.palette__red--200 {
    background-color: #F7999B;
}

.palette__red--300 {
    background-color: #F07073;
}

.palette__red--400 {
    background-color: #FC4C50;
}

.palette__red--500 {
    background-color: #FF3632;
}

.palette__red--600 {
    background-color: #F32B33;
}

.palette__red--700 {
    background-color: #E11E2D;
}

.palette__red--800 {
    background-color: #D41325;
}

.palette__red--900 {
    background-color: #C50018;
}