.palette__primary--50 {
    background-color: #FFF8E1;
}

.palette__primary--100 {
    background-color: #FFEDB3;
}

.palette__primary--200 {
    background-color: #FFE183;
}

.palette__primary--300 {
    background-color: #FFD650;
}

.palette__primary--400 {
    background-color: #FFCB29;
}

.palette__primary--500 {
    background-color: #FFC309;
}

.palette__primary--600 {
    background-color: #FFB401;
}

.palette__primary--700 {
    background-color: #FFA000;
}

.palette__primary--800 {
    background-color: #FF9100;
}

.palette__primary--900 {
    background-color: #FF7100;
}