.palette__green--50 {
    background-color: #E5F4E8;
}

.palette__green--100 {
    background-color: #C0E4C6;
}

.palette__green--200 {
    background-color: #97D3A2;
}

.palette__green--300 {
    background-color: #6AC27D;
}

.palette__green--400 {
    background-color: #46B661;
}

.palette__green--500 {
    background-color: #12A945;
}

.palette__green--600 {
    background-color: #029A3C;
}

.palette__green--700 {
    background-color: #008831;
}

.palette__green--800 {
    background-color: #007726;
}

.palette__green--900 {
    background-color: #005912;
}