.c-about-mission-section {
    box-shadow: 0 0.6rem 1rem 0 rgba(41,57,75,.25);
    background-color: #42abf8;
    color: #fff;

    padding: 4rem 3rem;
    border-radius: 0.8rem;
    margin-bottom: 10rem;
}

.c-about-mission-section__heading {
    margin-top: 0;
    margin-bottom: 2rem;
}

.c-about-mission-section__paragraph {
    margin: 0 0 1.6rem;
}

.c-about-mission-section__paragraph:last-child {
   margin-bottom: 0;
}